/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
  display: block;
}

nav ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content: '';
  content: none;
}

a{
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins{
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark{
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del{
  text-decoration: line-through;
}

abbr[title], dfn[title]{
  border-bottom: 1px dotted;
  cursor: help;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select{
  vertical-align: middle;
}

html{
  text-align: center;
}

body{
  padding: 40px;
}

pre{
  margin: 0 auto;
  text-align: left;
}

h1{
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1px;
}

hr{
  margin-bottom: 60px;
}

h2{
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 12px;
}

.wrap{
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 200px;
}

li{
  list-style: none;
}

.github-list{
  display: flex;
  justify-content: center;
  margin: 24px 0;
  li{
    margin: 0 8px;
  }
}

.share-list{
  display: flex;
  justify-content: center;
  margin: 24px 0;
  li{
    margin: 0 8px;
  }
}

textarea{
  width: 100%;
  padding: 15px;
  margin-top: 40px;
}